.box{
    background-color: teal;
    height: 1500px;
    width: 90%;
    text-align: center;
}
h1{
    font-size: 100px;
    font-style: oblique;
    font-family: 'Sacramento', cursive;
}
h2{
    font-size: 90px;
}
h4{
    font-size: 60px;
}
blockquote{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;

}
button{
    color: cornsilk;
    background-color: crimson;
    box-shadow: cornsilk;
    height: 80px;
    width: 300px;

}
#naptime , #lunchtime , #wakeuptime{
    padding: 10px 0;
}